.search[type=text]:focus {
    width: 100%;
}

.table-style{
    background-color: #f4f3ef;
    box-shadow: 10px 10px grey;
    border-radius: 10px 10px;
    padding: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
}
